/* Forms */

.form-group {
  margin-bottom: 1.5rem;
}

.input-group-append,
.input-group-prepend {
  color: $input-placeholder-color;
  width: auto;
  border: none;
  .input-group-text {
    border-color: $border-color;
    padding: 0.94rem 0.5rem 0.94rem 1rem;
    color: $input-placeholder-color;
  }
  button {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }
}

.custom-control {
  .custom-control-label {
    line-height: 1.6;
    margin-bottom: 0;
  }
}

.form-control {
  border: 1px solid $border-color;
  font-family: $type1;
  font-size: $input-font-size;
  font-weight: 400;
  padding: 8px 12px;
}

select {
  &.form-control {
    padding: .4375rem .75rem;
    border: 0;
    outline: 1px solid $border-color;
    color: $input-placeholder-color;
    &:focus {
      outline: 1px solid $border-color;
    }
    @each $color,
    $value in $theme-colors {
      &.border-#{$color} {
        outline: 1px solid $value;
        &:focus {
          outline: 1px solid $value;
        }
      }
    }
  }
}

.form-group {
  label {
    font-size: $default-font-size;
    line-height: 1;
    vertical-align: top;
    margin-bottom: .5rem;
  }
  &.has-danger {
    .form-control {
      border-color: theme-color(danger);
    }
  }
  .file-upload-default {
    visibility: hidden;
    position: absolute;
  }
  .file-upload-info {
    background: transparent;
  }
}
.form-check-input {
  margin-left: 0;
}
.timeline{position:relative;padding:20px 0;list-style:none;max-width:1200px;margin:0 auto}.timeline:before{content:" ";position:absolute;top:0;bottom:0;left:50%;width:3px;margin-left:-1.5px;background-color:rgb(231, 89, 89)}.timeline>li{position:relative;margin-bottom:20px}.timeline>li:after,.timeline>li:before{content:" ";display:table}.timeline>li:after{clear:both}.timeline>li>.timeline-panel{float:left;position:relative;width:46%;padding:20px;border:1px solid rgb(103, 151, 199);border-radius:0;-webkit-box-shadow:0 1px 6px rgba(0,0,0,.05);box-shadow:0 1px 6px rgba(0,0,0,.05)}.timeline>li>.timeline-panel:before{content:" ";display:inline-block;position:absolute;top:26px;right:-8px;border-top:8px solid transparent;border-right:0 solid rgb(103, 151, 199);border-bottom:8px solid transparent;border-left:8px solid rgba(120,130,140,.13)}.timeline>li>.timeline-panel:after{content:" ";display:inline-block;position:absolute;top:27px;right:-7px;border-top:7px solid transparent;border-right:0 solid #fff;border-bottom:7px solid transparent;border-left:7px solid #fff}.timeline>li>.timeline-badge{z-index:100;position:absolute;top:16px;left:50%;width:50px;height:50px;margin-left:-25px;border-radius:50%;text-align:center;font-size:1.4em;line-height:50px;color:#fff;overflow:hidden;background-color:#4c5667}.timeline>li.timeline-inverted>.timeline-panel{float:right}.timeline>li.timeline-inverted>.timeline-panel:before{right:auto;left:-8px;border-right-width:8px;border-left-width:0}.timeline>li.timeline-inverted>.timeline-panel:after{right:auto;left:-7px;border-right-width:7px;border-left-width:0}.timeline-badge.primary{background-color:#ab8ce4!important}.timeline-badge.success{background-color:#00c292!important}.timeline-badge.warning{background-color:#fec107!important}.timeline-badge.danger{background-color:#fb9678!important}.timeline-badge.info{background-color:#03a9f3!important}.timeline-title{margin-top:0;color:inherit;font-weight:400}.timeline-body>p,.timeline-body>ul{margin-bottom:0}.timeline-body>p+p{margin-top:5px}
